.advantages-add__title {
  @include fonts(700, 30px, $basic-black);
  width: 170px;
  line-height: 36px;
  margin-bottom: 0;
  padding-top: 20px;
}

.advantages-add__description {
  @include fonts(400, 14px, $dark-blue);
  margin-top: 12px;
  margin-bottom: 0;
  line-height: 24px;
}

.advantages-add__caption {
  @include fonts(400, 14px, $special-pink);
  margin-top: 6px;
}

.advantages-add__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px 30px;
  max-width: 940px;
  margin: auto;
  padding-bottom: 84px;
}

.advantages-add__image-container {
  order: -1;
  position: relative;
  width: 500px;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 3px;
}

.advantages-add__content-container {
  padding-left: 70px;
}

.advantages-add__caption a {
  color: $special-pink;
}

.advantages-add__image-container::before {
  content: "";
  position: absolute;
  width: 169px;
  height: 169px;
  border: 18px solid $special-pink;
  border-radius: 50%;
  top: 58px;
  right: 16px;
}

.advantages-add__image-container::after {
  @include fonts(700, 96px, $special-pink);
  content: "24";
  position: absolute;
  top: 144px;
  right: 64px;
}

@media (max-width: $mobile-width-only) {
  .advantages-add {
    display: none;
  }
}

@media (min-width: $half-desktop-size) {
  .advantages-add {
    background-color: $basic-grey;
  }

  .advantages-add__wrapper {
    padding-top: 170px;
  }

  .advantages-add__image-tablet {
    width: 298px;
    height: 345px;
    padding-top: 48px;
  }

  .advantages-add__image-container::before {
    content: "";
    width: 215px;
    height: 215px;
    top: 120px;
    left: 24px;
  }

  .advantages-add__image-container::after {
    font-size: 120px;
    top: 230px;
    right: 80px;
  }

  .advantages-add__description {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 26px;
  }

  .advantages-add__caption {
    font-size: 18px;
  }

  .advantages-add__content-container {
    padding-top: 98px;
    padding-left: 72px;
  }

  .advantages-add__decoration-text {
    display: none;
  }

  .advantages-add__title {
    width: 300px;
    padding-bottom: 10px;
  }
}
