.contest__header {
  background: url("../img/back-mobile.png");
  background-size: cover;
  height: 170px;
  padding: 78px 20px 0;
  margin-top: -78px;
}

.contest__title {
  @include fonts(300, 24px, $basic-white);
  padding: 30px 0;
  margin: auto;
  text-align: center;
  line-height: 32px;
  max-width: 300px;
}

.contest__slogan {
  @include fonts(400, 14px, $dark-blue);
  padding: 30px  20px 10px;
  text-align: center;
  max-width: 420px;
  margin: auto;
}

.contest__slogan-tablet {
  display: none;
}

.contest__form {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.contest__form-label {
  @include fonts(400, 14px, $special-pink);
  text-transform: uppercase;
  line-height: 18px;
  padding-left: 40px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.contest__achievement-checkbox,
.contest__contact-input,
.contest__device-title,
.contest__form-input,
.contest__comment-text {
  @include fonts(400, 18px, $basic-black);
  font-family: inherit;
}

.contest__comment-text {
  width: 82%;
  height: 177px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  line-height: 30px;
  border: 2px solid $border-color;
  border-radius: 1px;
  margin: auto;
  outline: none;
}

.contest__comment-text:hover {
  border: 2px solid $dark-blue;
  border-radius: 2px;
}

.contest__comment-text:focus {
  border: 2px solid $special-pink;
  border-radius: 2px;
}

.contest__form-input::placeholder,
.contest__comment-text::placeholder,
.contest__contact-input::placeholder {
  color: $dark-blue;
}

.contest__form-name {
  border: 0;
  grid-area: name;
  padding-bottom: 0;
  z-index: 5;
}

.contest__form-name-list {
  margin: 0;
  list-style-type: none;
  padding: 0 4px;
}

.contest__form-name-item {
  display: flex;
  flex-direction: column;
}

.contest__form-input {
  height: 59px;
  border: 2px solid $border-color;
  border-radius: 2px;
  padding-left: 20px;
}

.contest__form-input:hover {
  border: 2px solid $dark-blue;
  border-radius: 2px;
}

.contest__form-input:focus {
  outline: 2px solid $special-pink;
  outline-offset: -2px;
}

.contest__form-input--invalid {
  background-color: $error-color;
}

.contest__form-achievements {
  background-color: $basic-grey;
  border: 0;
  margin-top: -50px;
  padding-bottom: 40px;
  grid-area: achievments;
}

.contest__form-achievements .contest__form-label {
  padding-left: 0;
  max-width: 240px;
  text-align: center;
  margin-top: 150px;
  padding-top: 126px;
}

.contest__achievements-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.contest__achievement-item {
  padding-top: 46px;
}

.contest__achievement-item:nth-child(1) {
  padding-top: 20px;
}

.contest__achievement-input {
  display: none;
}

.contest__achievement-checkbox {
  position: relative;
  padding-left: 70px;
}

.contest__achievement-input + label {
  cursor: pointer;
}

.contest__achievement-input + label::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: $basic-white;
  border: 2px solid $border-color;
  border-radius: 2px;
  left: 6px;
  top: -6px;
}

.contest__achievement-input:checked + label::after {
  content: "";
  position: absolute;
  background: url("../img/tick.svg");
  width: 22px;
  height: 16px;
  left: 14px;
  top: 5px;
}

.contest__achievement-input + label:hover::before {
  border: 2px solid $dark-blue;
  border-radius: 2px;
}

.contest__achievement-input + label:active::before {
  border: 2px solid $special-pink;
  border-radius: 2px;
}

.contest__feedback-info {
  border: 0;
  padding: 14px 20px;
  margin-bottom: -50px;
  grid-area: feedback;
}

.contest__feedback-info legend {
  display: none;
}

.contest__contact-input {
  height: 59px;
  border: 2px solid $border-color;
  border-radius: 2px;
  padding-left: 20px;
}

.contest__contact-input:hover {
  border: 2px solid $dark-blue;
}

.contest__contact-input:focus {
  outline: 2px solid $special-pink;
  outline-offset: -2px;
}

.contest__device {
  border: 0;
  background-color: $basic-grey;
  padding-bottom: 30px;
  grid-area: device;
}

.contest__device .contest__form-label {
  padding-top: 100px;
  padding-left: 0;
  text-align: center;
  max-width: 200px;
}

.contest__device-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contest__device-title {
  padding-left: 100px;
}

.contest__device-item {
  padding-top: 20px;
  padding-bottom: 24px;
  position: relative;
}

.contest__device-input {
  display: none;
}

.contest__device-input + label {
  cursor: pointer;
}

.contest__device-input + label::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 37px;
  background-color: $basic-white;
  border: 2px solid $border-color;
  border-radius: 50%;
  left: 26px;
}

.contest__device-input:checked + label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: $special-pink;
  border-radius: 50%;
  left: 39px;
  top: 33px;
}

.contest__device-input + label:hover::before {
  border: 2px solid $dark-blue;
}

.contest__device-input + label:active::before {
  border: 2px solid $special-pink;
}

.contest__comment {
  border: 0;
  text-align: center;
  grid-area: comment;
}

.contest__comment .contest__form-label {
  padding-left: 0;
  padding-top: 34px;
}

.contest__button {
  margin: auto;
}

.contest__caption {
  @include fonts(400, 14px, $dark-blue);
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: $dark-blue;
  padding-bottom: 40px;
}

.contest__caption-title {
  color: $special-pink;
}

.contest__input-wrapper {
  display: flex;
  flex-direction: column;
}

.contest__button-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: button;
}

.contest_caption-title-desktop {
  display: none;
}

@media (min-resolution: 2dppx) {
  .contest__header {
    background: url("../img/back-mobile@2x.png");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .contest__comment {
    order: 2;
    margin-top: 40px;
    border: 2px solid $border-color;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contest__form-achievements {
    order: 1;
    background-color: $basic-white;
    margin-top: 90px;
    border: 2px solid $border-color;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contest__button-wrapper {
    order: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .contest__form-name-item {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
  }

  .contest__form-input {
    display: flex;
    flex-grow: 1;
  }

  .contest__form-label {
    padding-right: 20px;
    padding-left: 0;
  }

  .contest__header {
    background: url("../img/back-tablet.png");
    background-size: cover;
    height: 330px;
    padding: 0 20px;
    padding-top: 110px;
    margin-top: -108px;
  }

  .contest__title {
    @include fonts(300, 50px);
    line-height: 68px;
    max-width: 480px;
    padding-top: 60px;
  }

  .contest__slogan {
    font-size: 18px;
    max-width: 490px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .contest__slogan-tablet {
    display: block;
  }

  .contest__form {
    display: flex;
    flex-direction: column;
  }

  .contest__form-name {
    order: -2;
  }

  .contest__device {
    order: -1;
    border: 2px solid $border-color;
    background: $basic-white;
    border-radius: 1px;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contest__device .contest__form-label {
    padding: 0;
    min-width: 370px;
  }

  .contest__device-list {
    padding: 25px 20px;
  }

  .contest__feedback-info {
    border: 2px solid $border-color;
    padding: 0;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    padding-bottom: 14px;
  }

  .contest__feedback-info legend {
    display: block;
    padding-left: 20px;
    padding-top: 14px;
  }

  .contest__comment .contest__form-label {
    padding-top: 14px;
    padding-left: 16px;
  }

  .contest__input-wrapper {
    flex-direction: column-reverse;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 10px;
    position: relative;
  }

  .contest__input-wrapper:nth-child(2)::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background: $border-color;
    background-image: url("../img/phone-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 62px;
    top: 22px;
  }

  .contest__input-wrapper:nth-child(3)::before {
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    background: $border-color;
    background-image: url("../img/mail-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    right: 62px;
    top: 22px;
  }

  .contest__input-wrapper .contest__form-label {
    text-align: left;
    padding-left: 20px;
  }

  .contest__form-achievements .contest__form-label {
    max-width: 700px;
    padding-left: 20px;
    padding-top: 14px;
  }

  .contest__achievements-list {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .contest__comment-text {
    height: 189px;
    margin: 16px 0 30px;
  }

  .contest__button {
    margin: 0;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (min-resolution: 2dppx) {
    .contest__header {
      background-image: url("../img/back-tablet@2x.png");
    }
  }
}

@media (min-width: $half-desktop-size) {
  .contest__form {
    max-width: 937px;
    margin: auto;
    display: grid;
    grid-template-areas:
      "name device"
      "feedback feedback"
      "achievments achievments"
      "comment comment"
      "button button";
    grid-template-columns: 1fr 1fr;
    grid-gap: 26px;
  }

  .footer__wrapper {
    max-width: 890px;
    margin: auto;
  }

  .contest__feedback-info {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  .contest__input-wrapper {
    padding: 0;
    width: 370px;
    padding-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contest__input-wrapper:nth-child(2)::before {
    right: 32px;
    top: 28px;
  }

  .contest__input-wrapper:nth-child(3)::before {
    right: 32px;
    top: 28px;
  }

  .contest__form-name-item:nth-child(3) {
    padding-bottom: 0;
  }

  .contest__form-achievements {
    padding-bottom: 0;
  }

  .contest__form-achievements .contest__form-label {
    padding-top: 10px;
  }

  .contest__achievements-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
  }

  .contest__achievement-item {
    width: 270px;
    padding-top: 0;
    padding-bottom: 50px;
  }

  .contest__achievement-item:nth-child(1) {
    padding-top: 0;
  }

  .contest__comment {
    margin-top: 20px;
  }

  .contest__button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .contest__header {
    background: url("../img/back-desktop.png");
    background-size: cover;
    height: 290px;
  }

  .contest__form {
    min-width: 980px;
  }

  .footer__wrapper {
    max-width: 937px;
  }

  .contest__caption-title-desktop {
    display: inline-block;
  }

  .contest__title {
    max-width: 800px;
  }

  @media (min-resolution: 2dppx) {
    .contest__header {
      background: url("../img/back-desktop@2x.png");
      background-size: cover;
    }
  }
}
