.feedback__title {
  @include fonts(300, 24px, $dark-blue);
}

.feedback__text {
  @include fonts(700, 18px, $dark-blue);
}

.feedback__value {
  @include fonts(300, 24px, $special-pink);
  text-decoration: none;
  z-index: 8;
}

.feedback__value-link {
  text-decoration: none;
  color: $special-pink;
  z-index: 8;
}

.feedback__value-link:hover {
  color: $dark-blue;
  text-decoration: underline;
}

.feedback__value-link:active {
  opacity: 0.3;
  text-decoration: none;
}

.feedback__wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .feedback__wrapper {
    padding: 0 30px 50px;
    margin: auto;
    max-width: 600px;
  }

  .feedback__contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .feedback__contact-type {
    padding-left: 40px;
    padding-right: 30px;
  }

  .feedback__title {
    @include fonts(300, 40px, $dark-blue);
    line-height: 54px;
  }

  .feedback__map-image {
    width: 100%;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .feedback__wrapper {
    padding: 0 30px 50px;
    margin: auto;
    max-width: 880px;
  }

  .feedback__contacts {
    padding-bottom: 100px;
  }

  .feedback__title {
    font-size: 50px;
    line-height: 68px;
  }

  .feedback__contact-type:nth-child(2) {
    order: 3;
  }

  .feedback__value {
    padding-top: 20px;
    line-height: 32px;
  }
}
