.feedback__title {
  @include fonts(300, 24px, $dark-blue);
  margin-top: 24px;
  margin-bottom: 32px;
}

.feedback__text {
  @include fonts(700, 18px, $dark-blue);
  z-index: 10;
}

.feedback__value {
  @include fonts(300, 24px, $special-pink);
  text-decoration: none;
  z-index: 8;
  line-height: 27px;
}

.feedback__value-link {
  text-decoration: none;
  color: $special-pink;
  z-index: 8;
}

.feedback__value-link:hover {
  color: $dark-blue;
  text-decoration: underline;
}

.feedback__value-link:active {
  opacity: 0.3;
  text-decoration: none;
}

.feedback__wrapper {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
}

.feedback__contact-type:nth-child(2) {
  margin-top: 20px;
}

.feedback__contact-type:nth-child(3) {
  margin-top: 24px;
}

.feedback__contact-type:nth-child(3) .feedback__value {
  line-height: 32px;
}

@media (min-width: $tablet-width) {
  .feedback__wrapper {
    padding: 20px 30px 50px;
    margin: auto;
    max-width: 600px;
  }

  .feedback__contacts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-top: -20px;
  }

  .feedback__contact-type {
    padding-left: 36px;
    padding-right: 36px;
    margin: 4px;
  }

  .feedback__contact-type:nth-child(1) {
    padding-left: 38px;
  }

  .feedback__contact-type:nth-child(2) {
    margin-top: 0;
    padding-right: 1px;
  }

  .feedback__contact-type:nth-child(3) {
    margin-top: 0;
  }

  .feedback__title {
    @include fonts(300, 40px, $dark-blue);
    line-height: 54px;
  }

  .feedback__value {
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .feedback__wrapper {
    padding: 0 0 50px;
    margin: auto;
    max-width: 880px;
  }

  .feedback__contacts {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 100px;
  }

  .feedback__title {
    font-size: 50px;
    line-height: 68px;
    padding-top: 34px;
  }

  .feedback__contact-type:nth-child(2) {
    margin-left: 14px;
    padding-right: 10px;
    margin-right: -10px;
    order: 10;
  }

  .feedback__value {
    padding-top: 20px;
    line-height: 32px;
  }

  .feedback__contact-type:nth-child(3) {
    padding-left: 64px;
  }

  .feedback__contact-type:nth-child(1) {
    padding-left: 12px;
    margin-top: 0;
  }
}
