.footer__copyright {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright-text {
  @include fonts(400, 14px, $dark-blue);
  padding-right: 16px;
}

.footer__wrapper {
  text-align: center;
}

.footer__logo {
  text-decoration: none;
}

.footer__logo-image {
  padding: 0 5px;
}

.footer__social-list {
  padding: 44px 0 48px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 143px;
  margin: auto;
}

.footer__social-item {
  position: relative;
  cursor: pointer;
}

.footer__social-item::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 3px solid $dark-blue;
  border-radius: 50%;
  opacity: 0.1;
  left: -17px;
  top: -13px;
}

.footer__social-item:nth-child(1)::before {
  left: -20px;
}

.footer__social-item:nth-child(2)::before {
  left: -22px;
}

.footer__social-item:nth-child(3)::before {
  left: -20px;
}

.footer__social-item:hover::before {
  opacity: 1;
}

.footer__social-item:active {
  opacity: 0.2;
}

.footer__copyright-link {
  padding-top: 2px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -28px;
  }

  .footer__copyright {
    padding-bottom: 0;
  }

  .footer__social-list {
    min-width: 140px;
    padding-top: 32px;
    padding-right: 20px;
  }

  .footer__logo .logo {
    padding-top: 0;
    margin-top: -16px;
  }

  .footer__copyright-text {
    margin-top: -10px;
  }
}

@media (min-width: $desktop-width) {
  .footer__wrapper {
    padding: 38px 0;
  }

  .footer__copyright-text {
    font-size: 18px;
    padding-right: 12px;
    padding-bottom: 5px;
  }

  .footer__social-list {
    padding-left: 24px;
  }

  .footer__social-item:nth-child(1)::before {
    left: -18px;
  }
}
