.footer__copyright-text {
  @include fonts(400, 14px, $dark-blue);
  padding-right: 16px;
}

.footer__wrapper {
  text-align: center;
}

.footer__logo {
  text-decoration: none;
}

.footer__logo-image {
  padding: 0 5px;
}

.footer__social-list {
  margin: 0;
  padding: 40px 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.footer__social-item {
  position: relative;
  padding: 0 28px;
}

.footer__social-item::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  border: 3px solid $dark-blue;
  border-radius: 50%;
  opacity: 0.1;
  left: 8px;
  top: -13px;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}
