.gallery__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery__autor {
  @include fonts(700, 14px, $dark-blue);
  padding-left: 16px;
  padding-top: 10px;
  margin: 0;
  line-height: 24px;
}

.gallery__time {
  @include fonts(300, 12px, $dark-blue);
  text-transform: uppercase;
}

.gallery__likes {
  @include fonts(400, 12px, $special-pink);
  text-transform: uppercase;
  margin: 0;
  padding: 8px 0 16px 47px;
  position: relative;
}

.gallery__likes::before {
  content: "";
  position: absolute;
  background-image: url("../img/heart.svg");
  width: 13px;
  height: 12px;
  left: 16px;
  top: 16px;
}

.gallery__comment,
.gallery__caption {
  @include fonts(400, 14px, $dark-blue);
}

.gallery__comment {
  margin: 0;
  padding-left: 16px;
  line-height: 24px;
}

.gallery__caption {
  text-align: center;
  padding: 21px 20px 28px;
  line-height: 30px;
}

.gallery__item {
  background-color: $basic-grey;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 21px;
}

.gallery__wrapper {
  padding-top: 17px;
}

.gallery__photo {
  width: 100%;
  height: auto;
}

.gallery__item:nth-child(5) .gallery__likes {
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__item:nth-child(1n) {
    margin-right: 10px;
  }

  .gallery__item:nth-child(2n) {
    margin-left: 10px;
    margin-right: 20px;
  }

  .gallery__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .gallery__autor {
    padding-left: 30px;
    padding-top: 15px;
  }

  .gallery__comment {
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 15px;
    min-height: 50px;
  }

  .gallery__likes {
    padding-left: 30px;
    padding-bottom: 20px;
  }

  .gallery__likes::before {
    left: 86%;
  }

  .gallery__caption {
    padding-top: 24px;
    padding-bottom: 49px;
  }
}

@media (min-width: $half-desktop-size) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 900px;
    margin: auto;
    grid-gap: 20px;
  }

  .gallery__item:nth-child(1n),
  .gallery__item:nth-child(2n) {
    margin: 0;
  }
}

@media (min-width: $half-desktop-size) {
  .gallery__list {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 940px;
    margin: auto;
    grid-row-gap: 55px;
  }

  .gallery__autor {
    padding-left: 27px;
  }

  .gallery__comment {
    padding-left: 27px;
  }

  .gallery__likes {
    padding-left: 27px;
  }

  .gallery__caption {
    padding-top: 39px;
  }
}
