.header__wrapper-top {
  display: flex;
  justify-content: space-between;
  padding: 23px 20px;
  padding-top: 6px;
  background-color: $dark-blue;
  opacity: 0.99;
}

.header__main-nav-item {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 -1px 0 #000000;
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.header__main-nav-item:last-child {
  border-bottom: 1px solid black;
}

.header__main-nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__main-nav-item a {
  @include fonts(700, 18px, $basic-white);
  text-transform: uppercase;
  text-decoration: none;
}

.header__main-nav-item a:hover {
  color: $special-pink;
}

.header__main-nav-item a:active {
  color: $special-pink;
  opacity: 0.3;
}

.header__main-nav-toggle {
  cursor: pointer;
  outline: none;
}

.header__main-nav--opened .header__main-nav-toggle {
  width: 23px;
  height: 23px;
  background-image: url("../img/close-menu-btn.svg");
  background-color: transparent;
  margin-right: 12px;
  border: 0;
  margin-top: 18px;
}

.header__main-nav--closed .header__main-nav-toggle {
  width: 50px;
  height: 24px;
  background-image: url("../img/open-menu-btn.svg");
  background-color: transparent;
  border: 0;
  margin-top: 18px;
}

.header__main-nav--closed .header__wrapper-top {
  background-color: $basic-half-black;
  opacity: 0.99;
}

.header__main-nav--closed .header__main-nav-wrapper {
  display: none;
}

.header__main-nav--opened .header__main-nav-wrapper {
  position: absolute;
  top: 78px;
  z-index: 10;
  background-color: $dark-blue;
  opacity: 0.99;
  width: 100%;
}

.header__main-nav--nojs .header__wrapper-top {
  background-color: $dark-blue;
  opacity: 0.99;
}

.header__main-nav--nojs .header__main-nav-toggle {
  display: none;
}

.header__main-nav--nojs .header__main-nav-wrapper {
  display: block;
  position: static;
  top: 78px;
  z-index: 10;
  background-color: $dark-blue;
  opacity: 0.99;
  width: 100%;
}

.header__main-nav--closed .header__main-nav-toggle:hover {
  width: 50px;
  height: 24px;
  background-image: url("../img/open-menu-btn-hover.svg");
}

.header__main-nav--closed .header__main-nav-toggle:active {
  opacity: 0.3;
}

.header__main-nav--opened .header__main-nav-toggle:hover {
  width: 23px;
  height: 23px;
  background-image: url("../img/close-menu-btn-hover.svg");
}

.header__main-nav--opened .header__main-nav-toggle:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .header__wrapper-top {
    padding-top: 27px;
    padding-bottom: 34px;
  }

  .header__main-nav--opened .header__main-nav-wrapper {
    top: 110px;
  }

  .header__main-nav--closed .header__wrapper-top {
    background-color: $basic-half-black;
    opacity: 0.99;
  }

  .header__main-nav--closed .header__main-nav-toggle {
    margin-top: 14px;
  }

  .header__main-nav--opened .header__main-nav-toggle {
    margin-top: 16px;
    margin-right: 13px;
  }

  .header__main-nav--nojs .header__wrapper-top {
    background-color: $dark-blue;
    opacity: 0.99;
  }
}

@media (min-width: $half-desktop-size) {
  .header__main-nav-item a:active {
    color: $basic-half-white;
  }

  .header__main-nav--closed .header__main-nav-wrapper {
    display: block;
  }

  .header__main-nav {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .header__wrapper-top {
    max-width: 200px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .header__main-nav--closed .header__wrapper-top {
    background: none;
  }

  .header__main-nav-list {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  .header__main-nav-item {
    box-shadow: none;
  }

  .header__main-nav-item:last-child {
    border-bottom: none;
  }

  .header__main-nav-wrapper {
    min-width: 619px;
  }

  .header__main-nav-list a {
    @include fonts(400, 18px, $basic-white);
    text-transform: none;
  }

  .header__main-nav-toggle {
    display: none;
  }

  .header__wrapper {
    background: $basic-half-black;
    opacity: 0.99;
    padding-bottom: 10px;
  }

  .header__main-nav--nojs .header__main-nav-wrapper {
    background: none;
    opacity: 0.99;
    max-width: 619px;
  }

  .header__main-nav-item--active {
    position: relative;
  }

  .header__main-nav-item--active::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $basic-white;
    bottom: -20px;
  }
}

@media (min-width: $desktop-width) {
  .header__main-nav {
    max-width: 940px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
}
