.map__wrapper {
  margin-bottom: 30px;
  width: 100%;
  height: auto;
}

.map__decoration-wrapper {
  display: flex;
  margin-top: -123px;
  margin-bottom: -68px;
}

.map__decoration-left {
  width: 100%;
  height: 170px;
  background: linear-gradient(10deg, transparent, transparent 24%, white 24%, white);
  z-index: 6;
}

.map__decoration-right {
  width: 100%;
  height: 170px;
  background: linear-gradient(-10deg, transparent, transparent 24%, white 24%, white);
  z-index: 6;
}

.map__widget {
  border: none;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .map__decoration-left {
    height: 200px;
    background: linear-gradient(10deg, transparent, transparent 32%, white 32%, white);
  }

  .map__decoration-right {
    height: 200px;
    background: linear-gradient(-10deg, transparent, transparent 32%, white 32%, white);
  }

  .map__decoration-wrapper {
    margin-top: -200px;
    margin-bottom: -90px;
  }

  .map__wrapper {
    margin-bottom: 30px;
  }

  .map__widget {
    height: 380px;
  }
}

@media (min-width: $half-desktop-size) {
  .map__decoration-left {
    background: linear-gradient(10deg, transparent, transparent 36%, white 36%, white);
  }

  .map__decoration-right {
    background: linear-gradient(-10deg, transparent, transparent 36%, white 36%, white);
  }

  .map__decoration-wrapper {
    margin-bottom: -130px;
  }

  .map__widget {
    height: 550px;
  }
}

@media (min-width: $desktop-width) {
  .map__decoration-left {
    background: linear-gradient(10deg, transparent, transparent 50%, white 50%, white);
  }

  .map__decoration-right {
    background: linear-gradient(-10deg, transparent, transparent 50%, white 50%, white);
  }

  .map__decoration-wrapper {
    margin-bottom: -170px;
    margin-top: -226px;
  }
}
