.price__table-item,
.price__table-item-empty {
  @include fonts(700, 16px, $basic-white);
  text-transform: uppercase;
  height: 96px;
  background-color: $dark-blue;
  min-width: 276px;
}

.price__caption-price {
  @include fonts(300, 18px, $basic-white);
}

.price__value {
  @include fonts(400, 14px, $dark-blue);
  position: relative;
  height: 56px;
  border: 2px solid $border-color;
  background: $basic-white;
  text-align: left;
  padding-left: 20px;
}

.price__wrapper {
  background: linear-gradient(175deg, $basic-white, $basic-white 10%, $basic-grey 10%, $basic-grey);
  padding-top: 124px;
}

.price__table-item span {
  display: flex;
  flex-direction: column;
}

.price__value-mobile {
  @include fonts(400, 14px, $dark-blue);
  text-transform: uppercase;
}

.price__table {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

.price__table-item {
  border: 2px solid $border-color;
}

.price__value--positive::before {
  content: "";
  position: absolute;
  background: url("../img/yes.svg");
  width: 31px;
  height: 21px;
  right: 19px;
}

.price__value--negative::before {
  content: "";
  position: absolute;
  background: url("../img/no.svg");
  width: 27px;
  height: 27px;
  right: 21px;
}

.price__toggle {
  position: relative;
  border: 0;
  background: transparent;
  width: 22px;
  cursor: pointer;
  outline: none;
}

.price__toggle::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: $dark-blue;
  border-radius: 50%;
  opacity: 0.3;
}

.price__toggle--current {
  position: relative;
}

.price__toggle--current::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 3px solid $dark-blue;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  left: 8px;
  top: -2px;
}

.price__toggle:hover::before {
  opacity: 0.6;
}

.price__toggle:active::before {
  opacity: 0.1;
}

.price__toggle--current:hover::before,
.price__toggle--current:active::before {
  opacity: 1;
}

.price__toggles {
  padding-bottom: 30px;
  padding-top: 8px;
  padding-right: 5px;
}

.price__top-sale {
  margin-top: -14px;
  line-height: 24px;
  position: relative;
}

.price__top-sale::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  background: linear-gradient(135deg, transparent, transparent 10%, $special-pink 10%, $special-pink 20%, transparent 20%, transparent);
  left: -3px;
  top: -16px;
}

.price__top-sale::after {
  content: "Хит";
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  transform: rotate(-45deg);
  top: 3px;
  left: 13px;
}

@media (max-width: $mobile-width-only) {
  .price__table-item-empty {
    display: none;
  }

  .price__table-item--current,
  .price__value--current {
    display: block;
  }

  .price__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }

  .price__table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
  }

  .price__table-item-empty,
  .price__value-empty {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .price__toggles {
    display: none;
  }

  .price__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    max-width: 617px;
    margin: auto;
    margin-top: -40px;
    padding-top: 138px;
    padding-bottom: 70px;
    background: transparent;
  }

  .price {
    background: linear-gradient(176deg, $basic-white, $basic-white 18%, $basic-grey 18%, $basic-grey);
  }

  .price__table-item {
    min-width: 140px;
  }

  .price__table-item-empty {
    opacity: 0;
    min-width: 140px;
  }

  .price__value {
    height: 42px;
  }

  .price__value-mobile {
    display: none;
  }

  .price__value-empty {
    @include fonts(400, 14px, $dark-blue);
    border: 2px solid $border-color;
    background-color: $basic-white;
    text-align: left;
    padding-left: 16px;
  }

  .price__value--positive::before {
    right: 60px;
    top: 13px;
  }

  .price__value--negative::before {
    right: 60px;
    top: 10px;
  }

  .price__table-item,
  .price__table-item-empty {
    height: 78px;
  }

  .price__top-sale {
    padding-top: 18px;
  }

  .price__top-sale::before {
    width: 150px;
    height: 150px;
    top: 2px;
    left: -1px;
  }

  .price__top-sale::after {
    top: 13px;
    left: 7px;
  }
}

@media (min-width: $half-desktop-size) {
  .price {
    background: linear-gradient(175deg, $basic-white, $basic-white 20%, $basic-grey 20%, $basic-grey);
  }

  .price__wrapper {
    max-width: 941px;
    margin-top: 28px;
    padding-top: 160px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .price__table,
  .price__table-empty {
    min-width: 233px;
  }

  .price__value--positive::before {
    right: 100px;
    top: 16px;
  }

  .price__value--negative::before {
    right: 104px;
    top: 16px;
  }

  .price__table-item,
  .price__table-item-empty {
    height: 98px;
    min-width: 200px;
    font-size: 18px;
    line-height: 32px;
  }


  .price__caption-price {
    font-size: 24px;
    padding-left: 5px;
    padding-bottom: 4px;
  }

  .price__value {
    height: 56px;
  }

  .price__top-sale {
    padding-top: 16px;
  }

  .price__top-sale::before {
    width: 190px;
    height: 190px;
    top: -5px;
  }

  .price__top-sale::after {
    top: 13px;
    left: 14px;
  }

  .price__value-empty {
    font-size: 18px;
    padding-left: 22px;
    padding-top: 0;
  }
}
