.promo__header {
  background: url("../img/back-mobile.png");
  background-size: cover;
  background-position: 50% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 400px;
  padding-top: 80px;
}

.promo__wrapper {
  margin-top: -77px;
}

.promo__slogan {
  @include fonts(300, 24px);
  padding: 0;
  margin: 0;
  padding-top: 24px;
  text-align: center;
  position: relative;
}

.promo__slogan::before {
  content: "";
  position: absolute;
  background-image: url("../img/screen.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 111px;
  height: 197px;
  top: 146px;
  left: 95px;
}

.promo__button {
  @include fonts(700, 18px);
  text-decoration: none;
  display: inline-block;
  min-width: 280px;
  border: 3px solid $basic-white;
  border-radius: 29px;
  padding: 10px 10px;
}

.promo__button:hover {
  background-color: $basic-white;
  color: $special-pink;
}

.promo__button:active {
  color: $special-half-pink;
}

.promo__platforms {
  background-color: $darkest-blue;
  height: 270px;
  padding-top: 26px;
  text-align: center;
}

.promo__platforms-wrapper {
  display: flex;
  width: 220px;
  margin: auto;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
}

.promo__platforms-wrapper a:nth-child(2) {
  padding-top: 6px;
}

.promo__platforms-wrapper a:nth-child(3) {
  padding-top: 10px;
}

.promo__description {
  @include fonts(300, 14px);
  padding: 0 16px;
}

.promo__screen-desktop {
  padding-top: 130px;
}

.promo__mobile-image {
  margin-bottom: -8px;
}

@media (min-resolution: 2dppx) {
  .promo__header {
    background: url("../img/back-mobile@2x.png");
    background-size: cover;
  }
}

@media (max-width: $mobile-width-only) {
  .promo__screen-desktop {
    display: none;
  }

  .promo__slogan {
    max-width: 300px;
  }

  .promo__description {
    max-width: 380px;
    margin: auto;
  }
}

@media (min-width: $tablet-width) {
  .promo__header {
    background: none;
    max-width: 270px;
    min-height: 140px;
  }

  .promo {
    background: url("../img/back-tablet.png");
    background-size: cover;
  }

  .promo__platforms {
    background: none;
    max-width: 270px;
  }

  .promo__mobile-image {
    display: none;
  }

  .promo__left-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 40px;
    min-height: 620px;
    z-index: 1;
  }

  .promo__wrapper {
    max-width: 950px;
    margin: -108px auto auto auto;
    display: flex;
    justify-content: space-around;
    margin-top: -118px;
    padding-top: 110px;
  }

  .promo__right-container {
    position: relative;
    padding-right: 80px;
  }

  .promo__right-container::before {
    content: "";
    position: absolute;
    background-image: url("../img/phone-tablet.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 660px;
    height: 545px;
    left: -370px;
    top: 75px;
    z-index: 0;
  }

  .promo__slogan {
    @include fonts(300, 40px);
    line-height: 48px;
    width: 229px;
    padding-top: 20px;
  }

  .promo__slogan::before {
    visibility: hidden;
  }

  .promo__description {
    font-size: 18px;
    padding: 0;
    min-width: 300px;
  }

  .promo__button {
    margin-left: -16px;
  }

  @media (min-resolution: 2dppx) {
    .promo {
      background-image: url("../img/back-tablet@2x.png");
      background-size: cover;
    }

    .promo__right-container::before {
      background-image: url("../img/phone-tablet@2x.png");
      background-size: cover;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background: url("../img/back-desktop.png");
    background-size: cover;
    background-position: 50% 0;
    background-repeat: no-repeat;
  }

  .promo__wrapper {
    max-width: 1000px;
    margin: -108px auto auto auto;
    min-height: 742px;
  }

  .promo__right-container::before {
    content: "";
    position: absolute;
    background-image: url("../img/phone-desktop.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 1050px;
    height: 645px;
    left: -480px;
    top: 97px;
    z-index: 0;
  }

  .promo__screen-desktop {
    padding-top: 161px;
    margin-left: 90px;
  }

  .promo__slogan {
    font-size: 50px;
    line-height: 68px;
  }

  .promo__button {
    font-size: 21px;
  }

  .promo__platforms {
    padding-top: 36px;
  }

  .promo__platforms-wrapper {
    padding-top: 80px;
  }

  .promo__description {
    padding-top: 20px;
  }

  @media (min-resolution: 2dppx) {
    .promo {
      background: url("../img/back-desktop@2x.png");
      background-size: cover;
    }

    .promo__right-container::before {
      background-image: url("../img/phone-desktop@2x.png");
      background-size: cover;
    }
  }
}
