.reviews__autor-name {
  @include fonts(700, 18px, $basic-black);
  font-style: normal;
}

.reviews__text {
  @include fonts(400, 14px, $dark-blue);
  line-height: 30px;
}

.reviews__item {
  text-align: center;
  margin: 0;
  padding: 42px 20px 0;
}

.reviews__slider-toggle {
  position: relative;
  border: 0;
  background: transparent;
  width: 22px;
  cursor: pointer;
  outline: none;
}

.reviews__slider-toggle::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: $dark-blue;
  border-radius: 50%;
  opacity: 0.3;
  margin-top: 3px;
}

.reviews__slider-toggle--current {
  position: relative;
}

.reviews__slider-toggle--current::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 3px solid $dark-blue;
  border-radius: 50%;
  background: transparent;
  opacity: 1;
  margin-top: 0;
}

.reviews__slider-toggle:hover::before {
  opacity: 0.6;
}

.reviews__slider-toggle:active::before {
  opacity: 0.1;
}

.reviews__slider-toggle--current:hover::before,
.reviews__slider-toggle--current:active::before {
  opacity: 1;
}

.reviews__toggles {
  text-align: center;
  margin-top: -4px;
  margin-left: -7px;
}

.reviews__function {
  @include fonts(400, 14px, $dark-blue);
}

.reviews__prev,
.reviews__next {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .reviews__prev,
  .reviews__next,
  .reviews__function {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .reviews__text {
    order: -1;
    font-size: 18px;
  }

  .reviews__autor-name {
    font-size: 20px;
    padding-top: 18px;
  }

  .reviews__function {
    margin-top: 2px;
  }

  .reviews__toggles {
    padding-top: 6px;
  }
}

@media (min-width: $half-desktop-size) {
  .reviews__wrapper {
    max-width: 940px;
    margin: auto;
    padding: 0 20px;
  }

  .reviews__text {
    max-width: 700px;
    position: relative;
    padding-top: 0;
    margin-top: 27px;
  }

  .reviews__text::before {
    content: "";
    position: absolute;
    background: url("../img/quotes.svg");
    width: 79px;
    height: 63px;
    top: -112px;
    left: 310px;
  }

  .reviews__list {
    padding-top: 140px;
  }

  .reviews__autor-name {
    padding-top: 20px;
    padding-bottom: 3px;
    font-size: 24px;
  }

  .reviews__function {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .reviews__buttons-container {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .reviews__prev,
  .reviews__next {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: red;
  }

  .reviews__prev::before {
    content: "";
    position: absolute;
    top: -160px;
    left: 20px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-left: 2px solid $basic-half-black;
    border-top: 2px solid $basic-half-black;
    transform: rotate(-45deg);
  }

  .reviews__next::before {
    content: "";
    position: absolute;
    top: -160px;
    right: 20px;
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-left: 2px solid $basic-half-black;
    border-top: 2px solid $basic-half-black;
    transform: rotate(135deg);
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__next:hover::before,
  .reviews__prev:hover::before {
    opacity: 0.6;
  }

  .reviews__next:active::before,
  .reviews__prev:active::before {
    opacity: 0.1;
  }
}

@media (min-width: $desktop-width) {
  .reviews__prev::before {
    left: 0;
  }

  .reviews__next::before {
    right: 0;
  }
}
