.page {
  font-family: "Opensans", "Arial", sans-serif;
  line-height: 28px;
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  @include fonts(700, 18px, $basic-white);
  font-family: inherit;
  text-transform: uppercase;
  width: 276px;
  height: 59px;
  background-color: $special-green;
  border: 2px solid $special-green;
  border-radius: 2px;
  cursor: pointer;
}
