.logo {
  margin-left: -60px;
}

.logo:hover g path,
.logo:hover path {
  fill: $special-pink;
}

.logo:active g path {
  fill: $basic-white;
  opacity: 0.3;
}

.logo:active .footer-tablet-logotype path {
  fill: $special-pink;
  opacity: 0.3;
}

.logo:active path {
  fill: $dark-blue;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .logo {
    margin: 0;
  }
}

@media (min-width: $half-desktop-size) {
  .logo:active .footer-desktop-logotype path {
    fill: $special-pink;
    opacity: 0.3;
  }
}
