/* Colors */
$dark-blue: #283645;
$darkest-blue: #1d2631;
$basic-white: #ffffff;
$basic-half-white: rgba(255, 255, 255, 0.3);
$basic-black: #000000;
$basic-half-black: rgba(0, 0, 0, 0.3);
$basic-grey: #f2f2f2;
$special-pink: #d22856;
$special-half-pink: rgba(82, 16, 34, 0.4);
$special-green: #2aab6d;
$special-green-hover: #1c9b5e;
$border-color: #e5e5e5;
$error-color: rgba(246, 204, 184, 0.6);

/* Viewports */
$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;
$half-desktop-size: 960px;

/* Fonts */
@mixin fonts($font-weight: 400, $font-size: 14px, $font-color: $basic-white) {
  font-weight: $font-weight;
  font-size: $font-size;
  color: $font-color;
}
