.modal {
  position: fixed;
  top: 25%;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}

.modal-show {
  display: block;
}

@media (min-width: $tablet-width) {
  .modal {
    left: 14%;
    right: 14%;
  }
}
