.price-table__item {
  @include fonts(700, 16px, $basic-white);
  text-transform: uppercase;
  height: 94px;
  background-color: $dark-blue;
}

.price-table__price {
  @include fonts(300, 18px, $basic-white);
}

.price__value {
  @include fonts(400, 14px, $dark-blue);
}

.price__wrapper {
  background: linear-gradient(175deg, $basic-white, $basic-white 10%, $basic-grey 10%, $basic-grey);
  padding-top: 30px;
}
