@import "global.scss";
@import "font-family.scss";
@import "header.scss";
@import "promo.scss";
@import "advantages.scss";
@import "advantages-add.scss";
@import "reviews.scss";
@import "price.scss";
@import "feedback.scss";
@import "page-footer.scss";
