@import "mixins-variables.scss";
@import "font-family.scss";
@import "global.scss";
@import "page.scss";
@import "logo.scss";
@import "svg-logo.scss";
@import "modal.scss";
@import "modal-valid.scss";
@import "modal-invalid.scss";
@import "buttons.scss";
@import "blocks/header.scss";
@import "blocks/promo.scss";
@import "blocks/advantages.scss";
@import "blocks/advantages-add.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/feedback.scss";
@import "blocks/map.scss";
@import "blocks/footer.scss";
@import "blocks/contest.scss";
@import "blocks/photo-header.scss";
@import "blocks/photo-of-day.scss";
@import "blocks/gallery.scss";
@import "blocks/editor.scss";
